
# bundler config.
/.bundle

# all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# uploaded files in development
/storage/*

/public/assets
.byebug_history

# master key for decrypting credentials and more.
/config/master.key
